@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    font-family: Poppins;
}

header{
    background-color: #5b1f00;
    color:#ffffff;
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px #5b1f00;
}

header a{
    margin: 0;
    padding:20px;
    text-decoration: none;
    color:#ffffff;
}

.buscar{
    display: flex;
    align-items: center;
}

.buscar input{
    width: 20vw;
    height: 20px;
    padding: 10px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    box-shadow: 0px 0px 15px #b4764f;
    color:#5b1f00;
    font-weight: 600;
}

.buscar input::placeholder{
    font-family: Poppins;
    font-size: 800;
    color:#5b1e00c4;
}

.buscar button{
    width: auto;
    height: 40px;
    font-family: Poppins;
    color: #5b1f00;
    background-color: #b4764f; 
    border: none;
    border-radius: 0px 3px 3px 0px;
    box-shadow: 0px 0px 15px #b4764f;
    cursor: pointer;
    font-weight: 800;
}

.elementosMenu{
    display: flex;
}

.menu li{
    margin: 15px;
    list-style: none;
    text-transform: uppercase;
    font-style: normal;
}

.menu li:hover{
    text-decoration: overline;
    cursor: pointer;
}

.esquerda{
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro{
    display: flex;
}

.esquerda img{
    width: 400px;
    height: auto;
    margin: 40px;
    box-shadow: 0px 0px 20px #5b1f00;
}

.esqueda{
    width: 50vw;
    height: auto;
}

.direta{
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    width: 60%;
    height: 70%;
    border-radius: 30px;
    padding: 10px 10px;
    background-color: #5b1f00;
    box-shadow: 0px 0px 20px #5b1f00;
    color:#ffffffa1;
}

.caixa h2, h4, p, button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa h4{
    margin: 0;
    font-size: 70px;
}

.caixa p{
    margin: 20px;
}

.caixa button{
    width: 80%;
    height: 10%;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #ffffffe7;
    text-transform: uppercase;
    font-weight: 600;
    color: #5b1f00;
    cursor: pointer;
}

.caixa button:hover{
    transform: scale(0.9);
}
